# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj # We need this for obj models

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# ImGui files
imgui.ini

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs
*.vcxproj

# Build files
x64

log

resources/skybox/a
resources/skybox/b

resources/model

todo.txt