# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj # We need this for obj models

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs
*.vcxproj

# Build files
x64

*.pdf
log

resources/model/planet
#resources/model/basic-bottle
resources/model/lowilds-planet
resources/model/ringed-gas-giant-planet